body {
  padding-left: 20em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(189, 105, 9);
  background-color: rgba(10, 6, 6, 0.966);
  background-image: url(lineas.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.nav {
  top: 7em;
  left: 1em;
  width: 9em;
  font-size: 22px;
}
scroll-container {
  display: block;
  height: 380px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-top: 150px;
}

scroll-page {
  display: flex;
  justify-content: center;
  height: 580px;
  padding: 26px;
  text-align: center;
}
